*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

/*CSS HEADER*/

.flex {
    display:  flex;
    flex-wrap: wrap;
}

.menu {
    background: linear-gradient(white, blue);
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu > li > a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: white;
}

.menu > li:last-child {
    border-right: none;
}

.menu > li:last-child {
    margin-left: auto;
}

.menu > li {
    border-right: 1px solid darkblue;
}

.menu > li > a:hover{
    background-color: darkblue;
}

.subject {
    text-transform: uppercase;
    font-size: 2.5rem;
    text-align: center;
    color: darkblue;
    text-shadow: 2px 3px 2px;
}

.submenu {
    display: none;
    position: absolute;
    z-index: 9999;
}

.sub:hover .submenu {
    display: block;
}

/*CSS BODY*/

.book {
    width: 20%;
    padding: 2px;
}

.book > div {
    position: relative;
    border: 1px solid blue;
    padding: 5px;
    border-radius: 10px;
    overflow: hidden;
}

.book img {
    width: 100%;
    transition: transfrom 2s;
}

.book img:hover{
    transform: scale(1.2);
}

.close {
    position: absolute;
    top: 1.5rem;
    right: 1.2rem;
    text-decoration: none;
    color: blue;
    font-weight: bold;
    color: brown;
}

/*CSS FOOTER*/
footer {
    background: linear-gradient(blue, white, darkblue);
    padding: 2rem;
    overflow: hidden;
}

footer > span {
    animation:  move 15s infinite;
    position: relative;
}

@keyframes move {
    from {
        left: 0;
    }
    to {
         left: 100%;
    }
}

/* CSS BUTTON*/
.btn{
    padding: 10px;
    border: 1px solid;
    border-radius: 5px;
}

.btn-succes {
    background-color: lightgray;
    border-color: gray;
}

.btn-info{
    background-color: skyblue;
    border-color: blue;
}