*{
    font-family: Arial, Helvetica, sans-serif;
}

:root{
    --main-padding: 1rem;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.v-center{
    align-items: center;
}

/*CSS HEADER*/
 nav{
    background: linear-gradient(to right bottom, blue, white, lightblue);
 }

 .menu{
    list-style-type: none;
    padding: 0;
    margin: 0;
 }

 .menu>li>a{
    display: block;
    color: darkblue;
    padding: 30px;
    text-decoration: none;
 }

 .banner{
    background: linear-gradient(to right bottom, lightblue, white, blue);
    padding: 1rem;
    margin-top: 1px;

 }

 .banner img{
    width: 100%;
 }
 div>h1{
    color: darkblue;
    text-shadow: 2px 3px 3px white;
 }

 /*CSS BODY*/

 .topic{
    width: 80%;
    margin: 0 auto;
 }

.topic>h2{
    color: white;
    background: darkblue;
    padding: var(--main-padding);
    margin-bottom: 0;
    border-radius: 1rem 1rem 0 0;
}

.topic>.forums{
    background: lightblue;
    border-radius: 0 0 1rem 1rem;
    

}

.forum{
    padding: var(--main-padding);
    border-bottom: 1px solid darkblue;
    display: flex;
    align-items: center;
    gap: 1rem;
    .forum {
    background: white;      
    border-radius: 0.5rem;  
    margin: 0.5rem;         
}

}

.forum:last-child{
    border-bottom: none;
}

.forum img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

/*CSS ADS*/
.ads{
    margin-top: var(--main-padding);
}

.ads>div{
    background: linear-gradient(blue, darkblue);
    color: white;
    width: 9%;
    font-size: 1.2rem;
    text-align: center;
    padding: 8rem 0;
    border-radius: 10px;
    position: fixed;
}

.ads>.left{
    left:0.5%
}
.ads>.right{
    right: 0.5%
}
footer{
    background: linear-gradient(blue,white,blue);
    padding: 1.5rem;
    text-align: center;

}